* {
    box-sizing: border-box; /* keep boxes from breaking and spilling their contents */
    text-align: center;
}
h1, p {
    color:#777;
    background: #ebebeb;
    font-size: inherit;
    padding: 5px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

.background_gray {
    background: #ebebeb;
}

.shift_up{
    margin-top: -2px;
}


#header {
    position: absolute;
    width: inherit;
    left:50%;
    margin-left: -480px;
    padding: 36px;
}

#nav {
    position: absolute;
    margin-top: 100px;
    width: inherit;
    left: 50%;
    margin-left: -480px;
    padding: 36px;
}

#frame{
    position: absolute;
    width: inherit;
    left: 50%;
    margin-left: -480px;
    margin-top: 205px;
    display: flex;
    flex-wrap: nowrap;

}
#section {
    width: 495px;
    padding: 10px;
    line-height: 36px;
    float: left;
}

#article {
    color: #ebebeb;
    background: #777;
    padding: 18px 18px 5px 18px;
    
}

#aside{
    float: left;
    width: 450px;
    margin-left: 15px;
    padding: 36px;
}

#footer{
    position: absolute;
    width: inherit;
    margin-top: 485px;
    padding: 36px;
    left: 50%;
    margin-left: -480px;
}

